<div class="container">
  {{#if blogs.length}}
    <h3>Your Blog Posts:</h3>
    <ul>
      {{#each blogs}}
        <li>
          <a href="/blog/{{id}}">{{name}}</a>
          <p>Posted on {{format_date created_at}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No blog posts available yet.</p>
  {{/if}}

<a href="/dashboard/newblog">
<button>New Post</button></a>
</div>
